<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383254817735-hvls3i669ohqnuhkt7thhqahnq308in7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383254817735-hvls3i669ohqnuhkt7thhqahnq308in7</string>
	<key>API_KEY</key>
	<string>AIzaSyCNv4Zp6zE5KJ3wzZTd00OyzwmZ31hNZqM</string>
	<key>GCM_SENDER_ID</key>
	<string>383254817735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eazytechno.eazyTechnoApplication</string>
	<key>PROJECT_ID</key>
	<string>eazytechno-35351</string>
	<key>STORAGE_BUCKET</key>
	<string>eazytechno-35351.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383254817735:ios:9ea9b5f51c68fd81ad87e2</string>
</dict>
</plist>